.st-about {
  background-color: $lightgray;
  .st-about-img {
    margin-bottom: 20px;
    svg {
      path {
        fill: $accent;
      }
    }
  }
  .st-about-profile {
    height: 65px;
    display: flex;
    align-items: center;
    .st-about-profile-left {
      height: 100%;
      img {
        height: 65px;
        width: 65px;
        border-radius: 50%;
      }
      .st-about-profile-text {
        margin-left: 25px;
        .st-about-profile-name {
          font-size: 18px;
          font-weight: 500;
          margin: 0;
        }
        .st-about-profile-title {
          font-size: 16px;
          color: $secondary;
          text-transform: uppercase;
          line-height: 150%;
        }
      }
    }
    .st-about-profile-middle {
      height: 80%;
      width: 1px;
      background-color: rgba($accent, 0.8);
      display: inline-block;
      margin: 0 20px;
    }
    .st-about-profile-right {
      font-size: 36px;
    }
  }
  //about outer container
  .st-half-width-right {
    height: 100%;
    width: 50vw;
    .st-about-bg {
      position: relative;
      height: 100%;
      width: 100%;
      background-position: center right;
      background-repeat: no-repeat;
      background-size: cover;
      .st-about-counter {
        background-color: rgba(62, 169, 183, 0.8);
        min-width: 500px;
        min-height: 140px;
        position: absolute;
        left: 50%;
        top: 75%;
        transform: translateX(-50%);
        .st-single-counter {
          color: $white;
          min-width: 50%;
          padding-left: 30px;
          .st-counter-number {
            font-size: 44px;
            font-weight: 500;
            margin-bottom: 15px;
          }
          .st-counter-text {
            font-size: 18px;
          }
        }
      }
    }
  }
}
