.st-about {
  background-color: $wash_me;
  .st-about-img{
    margin-bottom: 20px;
  }
  .st-about-profile {
    margin-top: 40px;
    height: 65px;
    display: flex;
    align-items: center;
    .st-about-profile-left {
      height: 100%;
      img {
        height: 65px;
        width: 65px;
        border-radius: 50%;
      }
      .st-about-profile-text {
        margin-left: 25px;
        .st-about-profile-name {
          font-size: 18px;
          font-weight: 500;
          color: $carbon;
        }
        .st-about-profile-title {
          font-size: 16px;
          color: $steel_wool;
          text-transform: uppercase;
          line-height: 150%;
        }
      }
    }
    .st-about-profile-middle {
      height: 80%;
      width: 1px;
      background-color: $aquatic_cool;
      display: inline-block;
      margin: 0 20px;
    }
    .st-about-profile-right {
      font-size: 36px;
    }
  }
}
