.st-single-brand{
  border: 1px solid $meta;
  display: block;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  height: 120px;
  cursor: pointer;
  padding: 15px;
  img{
    height: initial;
    width: initial;
  }
}

@media only screen and (max-width: 600px) {
  .st-single-brand{
    margin: 0;
    width: 100%;
  }
}