.st-single-brand{
  border: 1px solid $meta;
  display: block;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  height: 120px;
  cursor: pointer;
  padding: 15px;
  img{
    height: initial;
    width: initial;
  }
}
