.btn{
  padding: 15px 30px;
}
.st-readmore-btn {
  color: $alpine_landing;
  text-decoration: none;
  font-weight: 500;
  transition: 0.3s;
  &:hover {
    margin-left: 3px;
  }
  i {
    margin-left: 3px;
  }
}