.st-features{
  .st-half-width-left{
    width: 50vw;
    max-height: 480px;
    height: 480px;
    .st-feature-bg{
      height: 100%;
      background-position: start;
      background-repeat: no-repeat;
      object-fit: cover;
    } 
  }
}