.st-single-slider {
  height: 800px;
  width: 100%;
  position: relative;
  .st-hero-overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    .st-hero-bg {
      height: 100%;
      width: 100%;
      position: relative;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      &::after {
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 2;
      }
    }
  }
  .st-slider-content {
    height: 100%;
    width: 100%;
    z-index: 2;
    .st-hero-text {
      h1 {
        font-size: 60px;
        font-weight: 800;
        margin-bottom: 25px;
        color: $white;
      }
      h2 {
        font-size: 18px;
        line-height: 30px;
        margin-bottom: 35px;
        color: $white;
      }
      .st-btn {
        color: $carbon;
        text-decoration: none;
        background-color: $white;
        padding: 15px 30px;
        display: inline-block;
        border-radius: 5px;
        font-weight: 500;
      }
    }
  }
}
