.slick-slider-in{

  .st-single-slider{
    height: 800px;
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    >img{
      position: absolute;
      height: 100px;
      width: 100%;
    }
    .st-slider-text{
      position: absolute;
      top: 0;
    }
  }
  .st-slider-heading{

  }
  .st-slider-sub-heading{

  }
}