.st-single-slider {
  height: 800px;
  width: 100%;
  position: relative;
  .st-hero-overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba($color: #000000, $alpha: 0.1);
    z-index: 1;
  }
  .st-hero-bg {
    height: 100%;
    width: 100%;
    position: absolute;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .st-slider-content {
    height: 100%;
    width: 100%;
    position: relative;
    z-index: 2;
    .st-hero-text {
      h1 {
        font-size: 60px;
        font-weight: 800;
        margin-bottom: 25px;
        color: $white;
      }
      p {
        font-size: 18px;
        line-height: 30px;
        margin-bottom: 35px;
        color: $white;
      }
      .st-btn {
        color: $primary;
        background-color: $white;
        padding: 15px 30px;
        display: inline-block;
        border-radius: 5px;
        font-weight: 500;
        transition: 0.3s;
        &:hover {
          background-color: $accent;
          color: $white;
        }
      }
    }
  }
}

// slider activation
.slick-slide-in {
  width: 100%;
  position: relative;
  .left-arrow,
  .right-arrow {
    height: 50px;
    width: 50px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba($accent,0.5);
    border-radius: 50%;
    line-height: 50px;
    text-align: center;
    color: white;
    z-index: 1;
    transition: 0.3s;
    font-size: 20px;
    &:hover {
      background-color: $accent;
      cursor: pointer;
    }
  }
  .right-arrow {
    right: 30px;
  }
  .left-arrow {
    left: 30px;
  }
}
