.st-newsletter {
  background-color: $accent;
  .st-newsletter-content {
    height: 125px;
    .st-newsletter-left {
      color: $white;
      .st-newsletter-question {
        font-size: 20px;
        line-height: 43px;
      }
      .st-newsletter-number {
        font-size: 30px;
        font-weight: 700;
        line-height: 43px;
      }
    }
    .st-newsletter-middle {
      height: 100%;
      width: 1px;
      background-color: rgba($white, 0.1);
      margin: 0 70px;
    }
    .st-newsletter-right {
      .st-newsletter-input-group {
        position: relative;
        min-height: 60px;
        min-width: 600px;
        background-color: $white;
        border-radius: 5px;
        overflow: hidden;
        .st-newsletter-input-field {
          position: absolute;
          top: 0;
          left: 0;
          padding: 20px 24px;
          outline: none;
          height: 100%;
          width: 100%;
          display: block;
          background-color: $white;
          border: 0;
        }
        .st-btn-bg {
          position: absolute;
          top: 50%;
          right: 5px;
          transform: translateY(-50%);
          transition: 0.15s;
          &:hover {
            border: 2px solid $accent;
            color: $accent;
          }
        }
      }
      .st-newsletter-heading {
        font-size: 22px;
        font-weight: 700;
        color: $white;
      }
    }
  }
}
@media only screen and (max-width: 991px) {
  .st-flex-center{
    display: inline;
  }
  .st-newsletter-left{
    flex: none;
  }
  .st-newsletter-middle{
    display: none;
  }
  .st-newsletter-right{
    flex: none;
    .st-newsletter-input-group{
      min-width: 100%;
    }
  }
}