.st-product {
  .st-section-title {
    svg {
      left: 50%;
      position: absolute;
      transform: translateX(-50%);
    }
  }
  .st-category-items {
    list-style: none;
    border-bottom: 1px solid $meta;
    li {
      display: inline-block;
      font-weight: 500;
      padding: 0 25px;
      padding-bottom: 15px;
      border-bottom: 2px solid transparent;
      cursor: pointer;
      transition: 0.3s;
      margin-bottom: -1px;
      &:hover {
        color: $alpine_landing;
        border-bottom: 2px solid $alpine_landing;
      }
      &.active {
        color: $alpine_landing;
        border-bottom: 2px solid $alpine_landing;
      }
    }
  }
  .st-single-product {
    //product top content
    &:hover .st-product-top ul {
      top: 75%;
      left: 50%;
      transform: translateX(-50%);
    }
    .st-product-top {
      background-color: $wash_me;
      position: relative;
      overflow: hidden;
      height: 300px;
      ul {
        list-style: none;
        margin: 0;
        padding: 0;
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
        transition: 0.3s;
        li {
          height: 35px;
          width: 35px;
          line-height: 35px;
          display: inline-block;
          border: 1px solid $alpine_landing;
          border-radius: 3px;
          overflow: hidden;
          margin-right: 5px;
          background-color: $white;
          &:nth-child(2) {
            min-width: 150px;
            text-align: start;
            line-height: 0;
            a {
              i {
                padding: 10px;
                background-color: $alpine_landing;
                margin-right: 10px;
                color: $white;
              }
            }
          }
          &:last-child {
            margin: 0;
          }
          &:hover{
            color: $alpine_landing;
          }
          a {
            display: block;
            text-decoration: none;
          }
        }
      }
    }
    //product bottom content
    .st-product-bottom {
      .st-product-name {
        margin-bottom: 5px;
      }
      .st-product-price {
        color: $alpine_landing;
        font-weight: 500;
        margin-bottom: 5px;
      }
      .st-product-rating {
        color: #ffb800;
      }
    }
  }
}
