.st-product {
  .st-section-title {
    svg {
      left: 50%;
      position: absolute;
      transform: translateX(-50%);
    }
  }
  .st-category-items {
    list-style: none;
    border-bottom: 1px solid $meta;
    li {
      display: inline-block;
      font-weight: 500;
      padding: 0 25px;
      padding-bottom: 15px;
      border-bottom: 2px solid transparent;
      cursor: pointer;
      transition: 0.3s;
      margin-bottom: -1px;
      &:hover {
        color: $alpine_landing;
        border-bottom: 2px solid $alpine_landing;
      }
      &.active {
        color: $alpine_landing;
        border-bottom: 2px solid $alpine_landing;
      }
    }
  }
  .st-single-product {
    //product top content
    .st-product-top {
      background-color: $wash_me;
      img {
        height: 150px;
        width: 150px;
      }
      .st-product-links{
        a{
          border: 1px solid $alpine_landing;
          height: 35px;
          width: 35px;
          &:nth-child(2){
            height: 35px;
            width: initial;
            i{
              background-color: $alpine_landing;
              height: 100%;
              width: 100%;
              display: block;
            }
          }
        }
      }
    }
    //product bottom content
    .st-product-bottom {
      .st-product-name {
        margin-bottom: 5px;
      }
      .st-product-price {
        color: $alpine_landing;
        font-weight: 500;
        margin-bottom: 5px;
      }
      .st-product-rating {
        color: #ffb800;
      }
    }
  }
}
