.st-section-title {
  color: $accent;
  font-weight: 500;
  font-size: 16px;
  position: relative;
  display: block;
  padding-bottom: 15px;
  margin-bottom: 20px;
  svg {
    position: absolute;
    bottom: 0;
    left: 0;
    fill: currentColor;
  }
}
.st-section-heading {
  font-weight: 700;
  font-size: 44px;
  color: $primary;
  margin-bottom: 15px;
}
.st-heading-paragraph {
  margin-bottom: 30px;
}
.st-section-sub-heading {
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 18px;
}
.st-sub-heading-paragraph {
  margin-bottom: 20px;
}
