.st-service{
  .st-service-text {
    i {
      margin-left: 5px;
    }
  }
  .st-single-service {
    padding: 30px;
    transition: 0.4s;
    background-color: rgba($accent,0.03);
    &:hover {
      background-color: $accent;
      color: $white;
      .st-section-sub-heading {
        color: currentColor;
      }
      svg {
        fill: $white;
      }
      .st-readmore-btn {
        color: $white;
      }
    }
  }
}
.st-img-icon{
  margin-bottom: 20px;
  svg {
    fill: $accent;
  }
}
