.st-team{
  .st-contact-btn{
    padding: 15px 35px;
    text-decoration: none;
    border: 1px solid $alpine_landing;
    border-radius: 5px;
  }
  .slick-slide-in{
    display: grid;
    grid-template: 1fr / repeat(3, 1fr);
    grid-column-gap: 30px;
    height: 100%;
    width: 100%;

  }

}