// Basic Color
$white: #fff;
$black: #000;
$primary: #333333;
$secondary: #777777;
$meta: #b5b5b5;
$border: #eaeaea;
$lightgray: #f9fcfd;

// Accent Color
// $accent: #13788a;
$accent: green;

// Font Variable
$primary_font: 'Montserrat', sans-serif;
$primary_secondary: 'Montserrat', sans-serif;
