/*--------------------------------------------------------------
2. Spacing
----------------------------------------------------------------*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");
@media screen and (min-width: 992px) {
  .st-height-b0 {
    height: 0px;
  }
  .st-height-b5 {
    height: 5px;
  }
  .st-height-b10 {
    height: 10px;
  }
  .st-height-b15 {
    height: 15px;
  }
  .st-height-b20 {
    height: 20px;
  }
  .st-height-b25 {
    height: 25px;
  }
  .st-height-b30 {
    height: 30px;
  }
  .st-height-b35 {
    height: 35px;
  }
  .st-height-b40 {
    height: 40px;
  }
  .st-height-b45 {
    height: 45px;
  }
  .st-height-b50 {
    height: 50px;
  }
  .st-height-b55 {
    height: 55px;
  }
  .st-height-b60 {
    height: 60px;
  }
  .st-height-b65 {
    height: 65px;
  }
  .st-height-b70 {
    height: 70px;
  }
  .st-height-b75 {
    height: 75px;
  }
  .st-height-b80 {
    height: 80px;
  }
  .st-height-b85 {
    height: 85px;
  }
  .st-height-b90 {
    height: 90px;
  }
  .st-height-b95 {
    height: 95px;
  }
  .st-height-b100 {
    height: 100px;
  }
  .st-height-b105 {
    height: 105px;
  }
  .st-height-b110 {
    height: 110px;
  }
  .st-height-b115 {
    height: 115px;
  }
  .st-height-b120 {
    height: 120px;
  }
  .st-height-b125 {
    height: 125px;
  }
  .st-height-b130 {
    height: 130px;
  }
  .st-height-b135 {
    height: 135px;
  }
  .st-height-b140 {
    height: 140px;
  }
  .st-height-b145 {
    height: 145px;
  }
  .st-height-b150 {
    height: 150px;
  }
  .st-height-b155 {
    height: 155px;
  }
  .st-height-b160 {
    height: 160px;
  }
  .st-height-b165 {
    height: 165px;
  }
  .st-height-b170 {
    height: 170px;
  }
  .st-height-b175 {
    height: 175px;
  }
  .st-height-b180 {
    height: 180px;
  }
  .st-height-b185 {
    height: 185px;
  }
  .st-height-b190 {
    height: 190px;
  }
  .st-height-b195 {
    height: 195px;
  }
  .st-height-b200 {
    height: 200px;
  }
  .st-height-b205 {
    height: 205px;
  }
  .st-height-b210 {
    height: 210px;
  }
}

@media screen and (max-width: 991px) {
  .st-height-lg-b0 {
    height: 0px;
  }
  .st-height-lg-b5 {
    height: 5px;
  }
  .st-height-lg-b10 {
    height: 10px;
  }
  .st-height-lg-b15 {
    height: 15px;
  }
  .st-height-lg-b20 {
    height: 20px;
  }
  .st-height-lg-b25 {
    height: 25px;
  }
  .st-height-lg-b30 {
    height: 30px;
  }
  .st-height-lg-b35 {
    height: 35px;
  }
  .st-height-lg-b40 {
    height: 40px;
  }
  .st-height-lg-b45 {
    height: 45px;
  }
  .st-height-lg-b50 {
    height: 50px;
  }
  .st-height-lg-b55 {
    height: 55px;
  }
  .st-height-lg-b60 {
    height: 60px;
  }
  .st-height-lg-b65 {
    height: 65px;
  }
  .st-height-lg-b70 {
    height: 70px;
  }
  .st-height-lg-b75 {
    height: 75px;
  }
  .st-height-lg-b80 {
    height: 80px;
  }
  .st-height-lg-b85 {
    height: 85px;
  }
  .st-height-lg-b90 {
    height: 90px;
  }
  .st-height-lg-b95 {
    height: 95px;
  }
  .st-height-lg-b100 {
    height: 100px;
  }
  .st-height-lg-b105 {
    height: 105px;
  }
  .st-height-lg-b110 {
    height: 110px;
  }
  .st-height-lg-b115 {
    height: 115px;
  }
  .st-height-lg-b120 {
    height: 120px;
  }
  .st-height-lg-b125 {
    height: 125px;
  }
  .st-height-lg-b130 {
    height: 130px;
  }
  .st-height-lg-b135 {
    height: 135px;
  }
  .st-height-lg-b140 {
    height: 140px;
  }
  .st-height-lg-b145 {
    height: 145px;
  }
  .st-height-lg-b150 {
    height: 150px;
  }
  .st-height-lg-b155 {
    height: 155px;
  }
  .st-height-lg-b160 {
    height: 160px;
  }
  .st-height-lg-b165 {
    height: 165px;
  }
  .st-height-lg-b170 {
    height: 170px;
  }
  .st-height-lg-b175 {
    height: 175px;
  }
  .st-height-lg-b180 {
    height: 180px;
  }
  .st-height-lg-b185 {
    height: 185px;
  }
  .st-height-lg-b190 {
    height: 190px;
  }
  .st-height-lg-b195 {
    height: 195px;
  }
  .st-height-lg-b200 {
    height: 200px;
  }
  .st-height-lg-b205 {
    height: 205px;
  }
  .st-height-lg-b210 {
    height: 210px;
  }
}

/**
 Theme Name: Abid
 Author: Themewatch
 Version: 1.0.0
 */
/*--------------------------------------------------------------
>> TABLE OF CONTENTS:
----------------------------------------------------------------
1. Typography
2. Spacing
3. General Style
4. Header
5. Hero
6. Iconbox
7. About
8. Counter
9. Services
10. CTA
11. Testimonial
12. Products
13. offer
14. Blog
15. Blog Details
16. Comments
17. Brands
18. Scroll To Top
19. Isotope
20. Service Details
21. Contact Us
22. Login/Register
23. Checkout
24. Shopping Cart
25. Footer
--------------------------------------------------------------*/
/*--------------------------------------------------------------
1. Typography
----------------------------------------------------------------*/
/*Google Fonts*/
body,
html {
  color: #777777;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.6em;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h3,
h6 {
  clear: both;
  color: #333333;
  font-family: "Montserrat", sans-serif;
  padding: 0;
  margin: 0 0 10px 0;
  font-weight: 700;
  line-height: 1.2em;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 34px;
}

h3 {
  font-size: 26px;
}

h4 {
  font-size: 22px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 15px;
}

p {
  margin-bottom: 12px;
}

ul {
  margin: 0 0 15px 0;
  padding-left: 15px;
}

ol {
  padding-left: 15px;
  margin-bottom: 15px;
}

dfn,
cite,
em,
i {
  font-style: italic;
}

blockquote {
  margin: 0 15px;
}

address {
  margin: 0 0 15px;
}

img {
  border: 0;
  max-width: 100%;
  height: auto;
}

a {
  color: inherit;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

a:hover {
  text-decoration: none;
  color: inherit;
}

@media screen and (max-width: 991px) {
  body,
  html {
    font-size: 14px;
  }
}

/*--------------------------------------------------------------
3. General Style
----------------------------------------------------------------*/
.st-mp0 {
  list-style: none;
  margin: 0;
  padding: 0;
}

.st-radius-10 {
  border-radius: 10px;
}

.st-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.st-flex-v-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.st-flex-h-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.st-flex-s-between {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.st-flex-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.st-zoom {
  position: relative;
  overflow: hidden;
}

.st-zoom .st-zoom-in {
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.st-zoom:hover .st-zoom-in {
  -webkit-transform: scale(1.07);
          transform: scale(1.07);
}

.st-gap-30 .slick-slide {
  padding: 15px;
}

.st-gap-30 .slick-list {
  margin: -15px;
}

.st-gap-15 .slick-slide {
  padding: 7px;
}

.st-gap-15 .slick-list {
  margin: -7px;
}

.st-margin-b30 {
  margin-bottom: 25px;
}

.st-margin-t30 {
  margin-top: 30px;
}

.st-padding-b30 {
  padding: 30px;
}

.st-main-header-top {
  height: 50px;
  background-color: #2c2c2c;
  overflow: hidden;
  color: #fff;
}

.st-main-header-top .st-main-header-left > div {
  margin-right: 25px;
}

.st-main-header-top .st-main-header-left > div i {
  margin-right: 5px;
}

.st-main-header-top .st-main-header-right .line {
  height: 30px;
  width: 1px;
  background-color: #fff;
  margin: 0 20px;
}

.st-main-header-top .st-main-header-right a {
  text-decoration: none;
}

.st-main-header-bottom {
  height: 80px;
}

.st-main-header-bottom .st-brand a {
  display: inline-block;
}

.st-main-header-bottom .st-main-header-right {
  height: 100%;
}

.st-main-header-bottom .st-main-header-right ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.st-main-header-bottom .st-main-header-right ul li {
  display: inline-block;
  margin-right: 30px;
}

.st-main-header-bottom .st-main-header-right ul li:hover {
  color: #13788a;
}

.st-main-header-bottom .st-main-header-right ul li.active {
  color: #13788a;
}

.st-main-header-bottom .st-main-header-right ul li a {
  text-decoration: none;
  font-weight: 600;
  font-size: 16px;
}

.st-main-header-bottom .st-main-header-right .st-search-bar {
  position: relative;
  height: 40px;
  width: 100%;
  min-width: 200px;
  border: 1px solid #13788a;
  border-radius: 50px;
  overflow: hidden;
}

.st-main-header-bottom .st-main-header-right .st-search-bar input {
  position: absolute;
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  padding-left: 10px;
}

.st-main-header-bottom .st-main-header-right .st-search-bar button {
  position: absolute;
  height: 100%;
  width: 50px;
  right: 0;
  border: none;
  outline: none;
  background-color: #13788a;
  color: #fff;
  -webkit-transition: 0.15s;
  transition: 0.15s;
}

.st-main-header-bottom .st-main-header-right .st-search-bar button:hover {
  opacity: 0.85;
}

.st-main-header-bottom .st-main-header-right .st-shopping-card {
  color: #333333;
  margin-left: 20px;
  padding: 10px;
  -webkit-transition: 0.15s;
  transition: 0.15s;
}

.st-main-header-bottom .st-main-header-right .st-shopping-card:hover {
  color: #13788a;
}

.st-single-slider {
  height: 800px;
  width: 100%;
  position: relative;
}

.st-single-slider.slick-active .st-hero-bg {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition-delay: 0.7s;
          transition-delay: 0.7s;
}

.st-single-slider.slick-active .st-slider-content .st-hero-title {
  top: 0;
  opacity: 1;
  -webkit-transition-delay: 0.8s;
          transition-delay: 0.8s;
}

.st-single-slider.slick-active .st-slider-content .st-hero-sub-title {
  top: 0;
  opacity: 1;
  -webkit-transition-delay: 0.9s;
          transition-delay: 0.9s;
}

.st-single-slider.slick-active .st-slider-content .st-hero-btn-in {
  top: 0;
  opacity: 1;
  -webkit-transition-delay: 1s;
          transition-delay: 1s;
}

.st-single-slider .st-hero-overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.3);
}

.st-single-slider .st-hero-bg {
  height: 100%;
  width: 100%;
  position: absolute;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all 2s ease;
  transition: all 2s ease;
}

.st-single-slider .st-slider-content {
  height: 100%;
  width: 100%;
  position: relative;
}

.st-single-slider .st-slider-content .st-hero-title {
  font-size: 60px;
  font-weight: 800;
  margin-bottom: 15px;
  color: #fff;
  opacity: 0;
  position: relative;
  top: 30px;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.st-single-slider .st-slider-content .st-hero-sub-title {
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 35px;
  color: #fff;
  opacity: 0;
  position: relative;
  top: 30px;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.st-single-slider .st-slider-content .st-hero-btn-in {
  opacity: 0;
  position: relative;
  top: 30px;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.st-single-slider .st-slider-content .st-hero-btn-in .st-hero-btn {
  color: #333333;
  background-color: #fff;
  padding: 15px 30px;
  display: inline-block;
  border-radius: 5px;
  font-weight: 500;
}

.st-single-slider .st-slider-content .st-hero-btn-in .st-hero-btn:hover {
  background-color: #13788a;
  color: #fff;
}

.slick-slide-in {
  width: 100%;
  position: relative;
}

.slick-slide-in .left-arrow,
.slick-slide-in .right-arrow {
  height: 50px;
  width: 50px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  line-height: 50px;
  text-align: center;
  color: #13788a;
  z-index: 1;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-size: 20px;
}

.slick-slide-in .left-arrow:hover,
.slick-slide-in .right-arrow:hover {
  background-color: #fff;
  cursor: pointer;
}

.slick-slide-in .right-arrow {
  right: 30px;
}

.slick-slide-in .left-arrow {
  left: 30px;
}

.st-single-brand {
  border: 1px solid #b5b5b5;
  display: block;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 120px;
  cursor: pointer;
  padding: 15px;
}

.st-single-brand img {
  height: initial;
  width: initial;
}

.st-about {
  background-color: rgba(19, 120, 138, 0.03);
}

.st-about .st-img-icon {
  margin-bottom: 20px;
}

.st-about .st-img-icon svg path {
  fill: #13788a;
}

.st-about .st-about-profile {
  height: 65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.st-about .st-about-profile .st-about-profile-left {
  height: 100%;
}

.st-about .st-about-profile .st-about-profile-left img {
  height: 65px;
  width: 65px;
  border-radius: 50%;
}

.st-about .st-about-profile .st-about-profile-left .st-about-profile-text {
  margin-left: 25px;
}

.st-about .st-about-profile .st-about-profile-left .st-about-profile-text .st-about-profile-name {
  font-size: 18px;
  font-weight: 500;
  margin: 0;
}

.st-about .st-about-profile .st-about-profile-left .st-about-profile-text .st-about-profile-title {
  font-size: 16px;
  color: #777777;
  text-transform: uppercase;
  line-height: 150%;
}

.st-about .st-about-profile .st-about-profile-middle {
  height: 80%;
  width: 1px;
  background-color: rgba(19, 120, 138, 0.8);
  display: inline-block;
  margin: 0 20px;
}

.st-about .st-about-profile .st-about-profile-right {
  font-size: 36px;
}

.st-about .st-half-width-right {
  height: 100%;
  width: 50vw;
}

.st-about .st-half-width-right .st-about-bg {
  position: relative;
  height: 100%;
  width: 100%;
  background-position: center right;
  background-repeat: no-repeat;
  background-size: cover;
}

.st-about .st-half-width-right .st-about-bg .st-about-counter {
  background-color: rgba(19, 120, 138, 0.8);
  min-width: 500px;
  min-height: 140px;
  position: absolute;
  left: 50%;
  top: 75%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.st-about .st-half-width-right .st-about-bg .st-about-counter .st-single-counter {
  color: #fff;
  min-width: 50%;
  padding-left: 30px;
}

.st-about .st-half-width-right .st-about-bg .st-about-counter .st-single-counter .st-counter-number {
  font-size: 44px;
  font-weight: 500;
  margin-bottom: 15px;
}

.st-about .st-half-width-right .st-about-bg .st-about-counter .st-single-counter .st-counter-text {
  font-size: 18px;
}

.st-service .st-service-text i {
  margin-left: 5px;
}

.st-service .st-single-service {
  padding: 30px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  background-color: rgba(19, 120, 138, 0.03);
}

.st-service .st-single-service:hover {
  background-color: #13788a;
  color: #fff;
}

.st-service .st-single-service:hover .st-section-sub-heading {
  color: currentColor;
}

.st-service .st-single-service:hover svg {
  fill: #fff;
}

.st-service .st-single-service:hover .st-readmore-btn {
  color: #fff;
}

.st-img-icon {
  margin-bottom: 20px;
}

.st-img-icon svg {
  fill: #13788a;
}

.st-single-gallery {
  height: 100%;
  min-height: 400px;
  min-width: 100%;
  position: relative;
  overflow: hidden;
}

.st-single-gallery:hover .st-gallery-textbox {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.st-single-gallery .st-gallery-bg {
  height: 100%;
  width: 100%;
  position: absolute;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.st-single-gallery .st-gallery-textbox {
  min-height: 130px;
  max-width: 285px;
  width: 100%;
  position: absolute;
  top: 100%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: rgba(19, 120, 138, 0.8);
  padding: 20px 15px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  text-align: center;
  color: #fff;
}

.st-single-gallery .st-gallery-textbox .st-gallery-heading {
  font-size: 22px;
  font-weight: 700;
  line-height: 150%;
  color: #fff;
}

.st-single-gallery .st-gallery-textbox .st-gallery-heading-paragraph {
  margin: 0;
  word-wrap: normal;
  color: #fff;
}

.st-features .st-half-width-left {
  height: 100%;
  width: 50vw;
  margin-left: calc(-50vw + 102.7%);
  text-align: center;
}

.st-product .st-section-title svg {
  left: 50%;
  position: absolute;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.st-product .st-category-items {
  list-style: none;
  border-bottom: 1px solid #b5b5b5;
}

.st-product .st-category-items li {
  display: inline-block;
  font-weight: 500;
  padding: 0 25px;
  padding-bottom: 15px;
  border-bottom: 2px solid transparent;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  margin-bottom: -1px;
}

.st-product .st-category-items li:hover {
  color: #13788a;
  border-bottom: 2px solid #13788a;
}

.st-product .st-category-items li.active {
  color: #13788a;
  border-bottom: 2px solid #13788a;
}

.st-product .st-single-product:hover .st-product-top ul {
  top: 75%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.st-product .st-single-product .st-product-top {
  background-color: rgba(19, 120, 138, 0.03);
  position: relative;
  overflow: hidden;
  height: 300px;
}

.st-product .st-single-product .st-product-top ul {
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 100%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.st-product .st-single-product .st-product-top ul li {
  height: 35px;
  width: 35px;
  line-height: 35px;
  display: inline-block;
  border: 1px solid #13788a;
  border-radius: 3px;
  overflow: hidden;
  margin-right: 5px;
  background-color: #fff;
}

.st-product .st-single-product .st-product-top ul li:nth-child(2) {
  min-width: 150px;
  text-align: start;
  line-height: 0;
}

.st-product .st-single-product .st-product-top ul li:nth-child(2) a i {
  padding: 10px;
  background-color: #13788a;
  margin-right: 10px;
  color: #fff;
}

.st-product .st-single-product .st-product-top ul li:last-child {
  margin: 0;
}

.st-product .st-single-product .st-product-top ul li:hover, .st-product .st-single-product .st-product-top ul li .active {
  color: #13788a;
}

.st-product .st-single-product .st-product-top ul li a {
  display: block;
  text-decoration: none;
}

.st-product .st-single-product .st-product-bottom .st-product-name {
  margin-bottom: 5px;
  font-size: 16px;
}

.st-product .st-single-product .st-product-bottom .st-product-price {
  color: #13788a;
  font-weight: 500;
  margin-bottom: 5px;
}

.st-product .st-single-product .st-product-bottom .st-product-rating {
  color: #ffb800;
}

.st-testmonial {
  background-color: rgba(19, 120, 138, 0.03);
}

.st-testmonial .st-testmonial-content {
  min-height: 480px;
}

.st-testmonial .st-testmonial-content .st-testmonial-textbox {
  background-color: #fff;
  padding: 40px 30px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.15) 5px 5px 5px;
          box-shadow: rgba(0, 0, 0, 0.15) 5px 5px 5px;
  border-radius: 10px;
}

.st-testmonial .st-testmonial-content .st-testmonial-textbox .st-testmonial-user {
  height: 70px;
}

.st-testmonial .st-testmonial-content .st-user-left-content img {
  height: 70px;
  width: 70px;
  border: 50%;
}

.st-testmonial .st-testmonial-content .st-user-left-content .st-user-details {
  margin-left: 10px;
}

.st-testmonial .st-testmonial-content .st-user-left-content .st-name {
  font-weight: 500;
}

.st-testmonial .st-testmonial-content .st-testmonial-user-icon svg {
  fill: #13788a;
}

.st-testmonial .st-half-width-right {
  width: 50vw;
  height: 100%;
  position: relative;
}

.st-testmonial .st-half-width-right .st-link-line {
  position: absolute;
  top: 65%;
  left: 0;
  color: #13788a;
}

.st-testmonial .st-half-width-right .st-testmonial-video {
  position: absolute;
  top: 0;
  padding-left: 180px;
  height: 100%;
  width: 100%;
}

.st-testmonial .st-half-width-right .st-testmonial-video .st-testmonial-video-in {
  position: relative;
  display: inline-block;
}

.st-testmonial .st-half-width-right .st-testmonial-video .st-testmonial-video-in .st-play-btn {
  position: absolute;
  height: 100px;
  width: 100px;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #fff;
  text-decoration: none;
  border-radius: 50%;
  border: 10px solid rgba(19, 120, 138, 0.8);
}

.st-testmonial .st-half-width-right .st-testmonial-video .st-testmonial-video-in .st-play-btn i {
  font-size: 30px;
  color: #13788a;
}

.st-team {
  width: 100%;
  position: relative;
}

.st-team:hover .st-overlay {
  opacity: 1;
}

.st-team:hover .st-overlay .st-team-name {
  margin: 0;
}

.st-team:hover .st-overlay .st-team-designation {
  margin: 0;
}

.st-team .st-team-img img {
  width: 100%;
}

.st-team .st-overlay {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.1)), to(rgba(0, 0, 0, 0.5)));
  background-image: linear-gradient(rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.5));
  opacity: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.st-team .st-overlay .st-team-info {
  position: relative;
  z-index: 2;
  color: #fff;
  margin-bottom: 20px;
}

.st-team .st-overlay .st-team-name {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 5px;
  margin-left: -200px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.st-team .st-overlay .st-team-designation {
  margin-right: -200px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.st-team-slider-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.st-team-slider-left {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  width: 100%;
  max-width: 420px;
  padding-right: 30px;
}

.st-team-slider-right {
  width: calc(61vw + 6px);
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
}

.st-team-slider-right .slick-dots {
  list-style: none;
  text-align: center;
  margin: 0;
  padding: 0;
  margin-top: 40px;
}

.st-team-slider-right .slick-dots li {
  display: inline-block;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: rgba(19, 120, 138, 0.3);
  margin-right: 20px;
}

.st-team-slider-right .slick-dots li.slick-active {
  background-color: #13788a;
  width: 12px;
  height: 12px;
}

.st-team-slider-right .slick-dots li:last-child {
  margin: 0;
}

.st-team-slider-right .slick-dots li button {
  display: none;
}

.st-blog {
  background: rgba(19, 120, 138, 0.03);
}

.st-blog .st-section-title svg {
  left: 50%;
  position: absolute;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.st-blog .st-single-blog {
  border-radius: 5px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.st-blog .st-single-blog:hover {
  -webkit-box-shadow: 0px 5px 5px 5px rgba(19, 120, 138, 0.15);
          box-shadow: 0px 5px 5px 5px rgba(19, 120, 138, 0.15);
}

.st-blog .st-single-blog:hover .st-blog-title {
  color: #13788a;
}

.st-blog .st-single-blog:hover .st-blog-img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.st-blog .st-single-blog .st-blog-top-content {
  position: relative;
  min-height: 213px;
  height: 250px;
  width: 100%;
  overflow: hidden;
}

.st-blog .st-single-blog .st-blog-top-content .st-blog-img {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
}

.st-blog .st-single-blog .st-blog-top-content .st-blog-img img {
  width: 100%;
  height: 100%;
}

.st-blog .st-single-blog .st-blog-top-content .st-blog-post-date {
  color: #fff;
  position: absolute;
  right: 15px;
  bottom: 15px;
  padding: 10px 15px;
  border-radius: 5px;
  background-color: #13788a;
}

.st-blog .st-single-blog .st-blog-top-content .st-blog-post-date i {
  margin-right: 3px;
}

.st-blog .st-single-blog .st-blog-bottom-content {
  background-color: #fff;
  padding: 30px;
}

.st-blog .st-single-blog .st-blog-bottom-content .st-blog-title {
  font-size: 18px;
  font-weight: 600;
  margin: 0;
  -webkit-transition: 0.15s;
  transition: 0.15s;
}

.st-blog .st-single-blog .st-blog-bottom-content .st-blog-title a {
  text-decoration: none;
}

.st-blog .st-single-blog .st-blog-bottom-content .st-blog-text .st-blog-post-user,
.st-blog .st-single-blog .st-blog-bottom-content .st-blog-text .st-blog-comments {
  margin-right: 30px;
  color: #777777;
}

.st-blog .st-single-blog .st-blog-bottom-content .st-blog-text .st-blog-post-user a,
.st-blog .st-single-blog .st-blog-bottom-content .st-blog-text .st-blog-comments a {
  text-decoration: none;
}

.st-blog .st-single-blog .st-blog-bottom-content .st-blog-text .st-blog-post-user a:hover,
.st-blog .st-single-blog .st-blog-bottom-content .st-blog-text .st-blog-comments a:hover {
  color: #13788a;
}

.st-blog .st-single-blog .st-blog-bottom-content .st-blog-text .st-blog-post-user i,
.st-blog .st-single-blog .st-blog-bottom-content .st-blog-text .st-blog-comments i {
  color: #13788a;
  margin-right: 5px;
  display: block;
}

.st-blog .st-single-blog .st-blog-bottom-content .st-blog-text .st-blog-comments {
  margin: 0;
}

.st-newsletter {
  background-color: #13788a;
}

.st-newsletter .st-newsletter-content {
  height: 125px;
}

.st-newsletter .st-newsletter-content .st-newsletter-left {
  color: #fff;
}

.st-newsletter .st-newsletter-content .st-newsletter-left .st-newsletter-question {
  font-size: 20px;
  line-height: 43px;
}

.st-newsletter .st-newsletter-content .st-newsletter-left .st-newsletter-number {
  font-size: 30px;
  font-weight: 700;
  line-height: 43px;
}

.st-newsletter .st-newsletter-content .st-newsletter-middle {
  height: 100%;
  width: 1px;
  background-color: rgba(255, 255, 255, 0.1);
  margin: 0 70px;
}

.st-newsletter .st-newsletter-content .st-newsletter-right .st-newsletter-input-group {
  position: relative;
  min-height: 60px;
  min-width: 600px;
  background-color: #fff;
  border-radius: 5px;
  overflow: hidden;
}

.st-newsletter .st-newsletter-content .st-newsletter-right .st-newsletter-input-group .st-newsletter-input-field {
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px 24px;
  outline: none;
  height: 100%;
  width: 100%;
  display: block;
  background-color: #fff;
  border: 0;
}

.st-newsletter .st-newsletter-content .st-newsletter-right .st-newsletter-input-group .st-btn-bg {
  position: absolute;
  top: 50%;
  right: 5px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: 0.15s;
  transition: 0.15s;
}

.st-newsletter .st-newsletter-content .st-newsletter-right .st-newsletter-input-group .st-btn-bg:hover {
  border: 2px solid #13788a;
  color: #13788a;
}

.st-newsletter .st-newsletter-content .st-newsletter-right .st-newsletter-heading {
  font-size: 22px;
  font-weight: 700;
  color: #fff;
}

.st-footer {
  color: #fff;
  background-color: #000;
}

.st-footer .st-brand a {
  display: inline-block;
}

.st-footer .st-footer-text {
  margin-bottom: 25px;
}

.st-footer .st-footer-social-links {
  list-style: none;
  margin: 0;
  padding: 0;
}

.st-footer .st-footer-social-links li {
  display: inline-block;
  margin-right: 25px;
}

.st-footer .st-footer-social-links li:last-child {
  margin: 0;
}

.st-footer .st-footer-social-links li a {
  font-size: 20px;
}

.st-footer .st-section-sub-heading {
  color: #fff;
}

.st-footer .st-footer-contact-list {
  margin: 0;
  padding: 0;
}

.st-footer .st-footer-contact-list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
}

.st-footer .st-footer-contact-list li:last-child {
  margin: 0;
}

.st-footer .st-footer-contact-list li .st-contact-details {
  margin-top: -5px;
  margin-left: 25px;
}

.st-footer .st-icon {
  color: #13788a;
}

.st-footer .st-twitter-top {
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.1);
}

.st-footer .st-twitter-top p {
  margin: 0;
}

.st-footer .st-twitter-top a {
  color: #13788a;
  text-decoration: none;
}

.st-footer .st-twitter-bottom {
  margin-top: 20px;
}

.st-footer .st-twitter-bottom .st-text {
  margin-left: 10px;
}

.st-grid-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
}

.st-footer-bottom {
  background-color: #333333;
  height: 70px;
}

.st-footer-bottom li {
  margin-left: 5px;
  height: 25px;
  width: 35px;
  background-color: #fff;
  padding: 3px;
}

.st-footer-bottom li:first-child {
  margin: 0;
}

.btn {
  padding: 15px 30px;
  text-decoration: none;
}

.st-readmore-btn {
  color: #13788a;
  text-decoration: none;
  font-weight: 500;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.st-readmore-btn:hover {
  margin-left: 3px;
  color: #13788a;
}

.st-readmore-btn i {
  margin-left: 3px;
}

.st-btn-bg {
  color: #fff;
  background-color: #13788a;
  padding: 10px 30px;
  border: 2px solid transparent;
  display: inline-block;
  font-weight: 500;
  border-radius: 5px;
  text-decoration: none;
}

.st-btn-bg:hover {
  border: 2px solid #13788a;
  background-color: transparent;
  color: #13788a;
}

.st-border-btn {
  border: 1px solid #13788a;
  padding: 10px 15px;
}

.st-border-btn:hover {
  background-color: #13788a;
  color: #fff;
}

.st-border-btn:hover i {
  margin-left: 5px;
}

.st-section-title {
  color: #13788a;
  font-weight: 500;
  font-size: 16px;
  position: relative;
  display: block;
  padding-bottom: 15px;
  margin-bottom: 20px;
}

.st-section-title svg {
  position: absolute;
  bottom: 0;
  left: 0;
  fill: currentColor;
}

.st-section-heading {
  font-size: 44px;
  margin-bottom: 15px;
}

.st-heading-paragraph {
  margin-bottom: 30px;
}

.st-section-sub-heading {
  font-size: 18px;
  margin-bottom: 18px;
}

.st-sub-heading-paragraph {
  margin-bottom: 20px;
}
/*# sourceMappingURL=style.css.map */